.Product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 0px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    width: 20%;
    height:165px;
  }
  