<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POSTS</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>TWITTER POSTS</h1>

    <% for(post of posts){ %>
        <div class="box">
            <h2>user: @<%= post.username %></h2>
            <h3>content: <br> <%= post.content %></h3>
        </div>
    <% } %>
</body>
</html>
